body {
   margin: 0px;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;

}

.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #99007d, #002f99);
    /*
     #edf570, #170db3

    */

 
}

h4{
    text-align: center;
    
}
form {
    background-color: 	#111;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
   

}
img{
  width: 85px;
  height: 85px;
}


form .box .input-text{
    background-color: #1F1F1F;
    border: NONE;
    height: 40px;
    width: 200px;
}
form .box .input-text:hover{
    background-color: #272525;
}
.box.success .input-text {
    border: 1.5px solid #2e8b57;

}

.box.error .input-text {
    border: 1.5px solid #b22222;
}
.box.error span {
    color: #b22222;
    display: block;
    visibility: visible;
    
}
.box-error span {
    color: #b22222;
    display: block;

}
.span-error {
    font-size: 12px;
    display: block;
    visibility: hidden;
}
 input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}






form div {
    margin: 8px;
}

p {
    font-size: 12px;
}

form div .button-submit{
    width: 200px;
    height: 45px;
    background-image: linear-gradient(45deg, #99007d, #002f99);
    border: none;
    border-radius: 3;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 3s;

}
form div .button-submit:hover{
    
    background-image: linear-gradient(1deg, #99007d, #002f99);
}
